# Jetbrains IDE configs
.idea/

# JS Environment
node_modules/
yarn.lock
.npmrc

# Environments
environments/*.local

# Next JS
.next/

# Jest
.jest-test-results.json

# Builds folder
build/
out/

# Logs
yarn-error.log
lerna-debug.log
