.profile-page {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;

    .information {
      display: flex;
      align-items: center;

      .avatar {
        margin-right: 0.5em;
        cursor: pointer;
      }
    }
  }
}
