.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;

  .information {
    display: flex;
    align-items: center;

    .ant-avatar {
      margin-right: 0.5em;
    }
  }
}